[submodule "src/bno055_usb/bno055_usb_stick"]
	path = src/bno055_usb/bno055_usb_stick
	url = https://github.com/yoshito-n-students/bno055_usb_stick
[submodule "src/bno055_usb/bno055_usb_stick_msgs"]
	path = src/bno055_usb/bno055_usb_stick_msgs
	url = https://github.com/yoshito-n-students/bno055_usb_stick_msgs
[submodule "src/roboclaw_ros"]
	path = src/roboclaw_ros
	url = https://github.com/uweswrtz/roboclaw_ros.git
[submodule "src/ublox"]
	path = src/ublox
	url = https://github.com/KumarRobotics/ublox.git
[submodule "src/rosserial"]
	path = src/rosserial
	url = https://github.com/ros-drivers/rosserial.git
[submodule "src/twist_mux"]
	path = src/twist_mux
	url = https://github.com/ros-teleop/twist_mux
[submodule "src/mapviz"]
	path = src/mapviz
	url = https://github.com/swri-robotics/mapviz.git
